---
import AboutMe from "@/components/AboutMe.astro";
import Sidemenu from "@/components/Sidemenu.astro";
import Socials from "@/components/Socials.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mx-auto max-w-screen-lg px-4 pt-4">
    <div
      class="grid grid-cols-[repeat(6,_200px)] auto-rows-[100px] gap-4 justify-center"
    >
      <Sidemenu />
      <AboutMe />
      <Socials />
    </div>
  </div>
</Layout>
