---
import { AboutMe } from "@/components/about-me";
import Layout from "../layouts/Layout.astro";
import { Sidemenu } from "@/components/sidemenu";
import { Socials } from "@/components/socials";
import { ThemeSwitcher } from "@/components/theme-switcher";
---

<Layout>
  <div class="mx-auto max-w-screen-lg px-4 pt-2">
    <div
      class="grid grid-cols-[repeat(6,_200px)] auto-rows-[100px] gap-4 justify-center"
    >
      <Sidemenu client:load />
      <AboutMe client:load />
      <ThemeSwitcher />
      <Socials client:load />
    </div>
  </div>
</Layout>
