---
import githubIcon from "@/assets/github.svg";
import linkedinIcon from "@/assets/linkedin.svg";

import {
  Card,
  CardAction,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card.tsx";
---

<Card className="dark:bg-gray-800 shadow-md row-span-3 col-span-5">
  <CardHeader>
    <CardTitle>About me</CardTitle>
  </CardHeader>
  <CardContent>
    <p>todo</p>
  </CardContent>
</Card>
