---
import githubIcon from "@/assets/github.svg";
import linkedinIcon from "@/assets/linkedin.svg";

import {
  Card,
  CardAction,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card.tsx";
---

<Card className="dark:bg-gray-800 shadow-md row-span-3 col-span-5">
  <CardHeader>
    <CardTitle>About me</CardTitle>
  </CardHeader>
  <CardContent>
    <p>
      My name is Thomas and I am a software developer with a passion for
      creating innovative solutions. I have experience in various programming
      languages and frameworks, and I enjoy working on both front-end and
      back-end development. In my free time, I love to explore new technologies,
      contribute to open-source projects, enjoy music, explore new songs, and
      walk in nature.
    </p>
  </CardContent>
</Card>
