---
const currentPath = Astro.url.pathname;

import Moon from "@/assets/moon.svg";
import Sun from "@/assets/sun.svg";

const isCurrentPath = (path: string) =>
  path === currentPath || path + "/" === currentPath;
---

<header>
  <nav>
    <ul class="nav-links">
      <li><a href="/" class={isCurrentPath("/") ? "active" : ""}>about</a></li>
      <li>
        <a href="/blog" class={currentPath.startsWith("/blog") ? "active" : ""}
          >blog</a
        >
      </li>
      <li>
        <a href="/contact" class={isCurrentPath("/contact") ? "active" : ""}
          >contact</a
        >
      </li>
    </ul>
    <button id="theme-btn">
      <Moon class="moon" />
      <Sun class="sun" />
    </button>
  </nav>
</header>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  header {
    margin-bottom: 3rem;
  }

  #theme-btn {
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    padding: 0.25rem 0.25rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--text-color);
    cursor: pointer;
  }

  #theme-btn > * {
    grid-area: 1/1;
  }

  #theme-btn svg {
    width: 16px;
    height: 16px;
  }

  .sun {
    opacity: 1;
  }

  .moon {
    opacity: 0;
  }

  :root[data-theme="dark"] .sun {
    opacity: 0;
  }
  :root[data-theme="dark"] .moon {
    opacity: 1;
  }

  .nav-links {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .nav-links a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border: 1px solid transparent;
  }

  .nav-links a:hover,
  .nav-links a.active {
    border: 1px solid var(--text-color);
    background-color: transparent;
    color: var(--text-color);
  }

  @media (max-width: 600px) {
    .nav-links {
      gap: 1rem;
    }
  }
</style>

<script>
  import { getTheme, setTheme } from "@/lib/theme";
  const btn = document.getElementById("theme-btn");
  btn?.addEventListener("click", () => {
    const targetTheme = getTheme() === "dark" ? "light" : "dark";
    setTheme(targetTheme);
  });
</script>
