---
import {
  Card,
  CardAction,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card.tsx";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<Card className="row-span-2">
  <CardHeader>
    <CardTitle>Sidemenu</CardTitle>
    <CardDescription>Navigation links and actions</CardDescription>
  </CardHeader>
  <CardContent>
    <ul class="space-y-2">
      <li><a href="/blog">Blog</a></li>
      <li><a href="mailto:contact@thohui.com">Contact</a></li>
    </ul>
  </CardContent>
</Card>
