---
import { Button } from "./ui/button";
import { Moon, MoonIcon, SunIcon } from "lucide-react";
---

<Button variant="secondary" size="icon" className="size-8 cursor-pointer">
  <MoonIcon />
</Button>
